body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  background-color: white;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  overflow: hidden; /* quito el problema de la imagen se salia a la derecha y esto se supone si algo sale de los bordes lo recorta */
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details h3 {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.user-details p {
  font-size: 12px;
  color: black;
}

.menu-icon {
  font-size: 24px;
}

.post-img {
  width: 100%;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.icon-btn {
  font-size: 20px;
}

.likes {
  font-size: 16px;
}

.likes strong {
  font-size: 17px;
  font-weight: bold;
}
